{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.0.0",
        "targets": {
          "esmodules": true,
          "ie": "11"
        }
      }
    ],
    ["@vue/app", {
      "polyfills": [
        "es.array.iterator",
        "es.promise",
        "es.object.assign",
        "es.symbol"
      ]
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ],
  "sourceType": "unambiguous"
}
